*
{
    margin: 20px;
    padding: 5px; 
    border-radius: 20px;  
}

body
{
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: wider; 
    margin: auto;
    background-image: url("bg.jpg");
    background-size: 51%;
}

.inputboxes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 4px solid black;*/
}

.buttons
{
    display: flex;
    justify-content: center;
    /*flex-direction: column;
    height: max-content;
    width: max-content; */
    /*border: 4px solid black;
    box-shadow: 15px 15px 20px wheat;*/
}

h3
{
    display: flex;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
     
::-webkit-input-placeholder 
{
    text-align: center;
}